body {
    background-color: rgb(80, 27, 50);
}

div.polaroid {
    width: 80%;
    margin-left: 10%;
    margin-top: -10px;
    box-shadow: 0 0 20px 4px #846c63;
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background-color: rgba(255, 226, 250, 0.75);
    border-radius: 0px 0px 30px 30px;
}

#name {
    border-radius: 0 0 30px 30px;
}

div.container {
    padding: 10px;
}

header p {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    font: 400 36.66667px Roboto;
}

header {
    margin-bottom: 40px;
    margin-top: 0%;
}

.content {
    min-height: 80%;
}

.panel {
    padding: 20px 10px 30px 10px;
    margin-left: 7%;
    margin-top: 3%;
    width: 35%;
    height: 40%;
    background-color: rgba(255, 226, 250, 0.75);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    transition:  box-shadow 0.35s;
    color: white;
    box-shadow: 0 0 20px 4px #846c63;
}

.panel-header {
    font: 400 30px Roboto;
    text-align: center;
    margin-bottom: 25px;
}

.content input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #846c63 !important;
    box-shadow: 0 1px 0 0 #846c63 !important;
}

.content input[type=text]:focus:not([readonly]) + label {
    color: rgba(255, 226, 250, 0.75) !important;
}

.content .btn {
    background-color: rgba(80, 27, 50, 0.7);
    margin-left: 14%;
    font-size: 20px;
    width: 140px;
    color: rgba(255, 226, 250, 0.75);
    text-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;
    border: none;
    box-shadow: 0 0 10px 4px #846c63;
    text-align: center;
}

.content .btn:hover {
    background-color: rgba(255, 226, 250, 0.75);
    color: rgba(80, 27, 50, 0.7);
}

.content .btn:active {
    background-color: rgba(255, 226, 250, 0.75);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.group {
    width: 100%;
    height: 143px;
    overflow: hidden;
    position: relative;
}

label {
    position: absolute;
    top: 36.66667px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font: 400 36.66667px Roboto;
    cursor: text;
    transition: .25s ease;
}

#formula {
    display: block;
    width: 100%;
    padding-top: 36.66667px;
    border: none;
    border-radius: 0;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background: rgba(255, 226, 250, 0.75);
    box-shadow: 0 0 20px 4px #846c63;
    font-size: 36.66667px;
    transition: .3s ease;
}
input:valid ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
input:focus {
    outline: none;
}
input:focus ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: rgba(80, 27, 50, 0.7);
}
input:focus ~ .bar:before {
    transform: translateX(0);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset;
    -webkit-text-fill-color: white !important;
}

.bar {
    background: rgba(255, 226, 250, 0.15);
    content: '';
    width: 550px;
    height: 3.66667px;
    transition: .3s ease;
    position: relative;
}
.bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: rgba(255, 226, 250, 0.1);
    transform: translateX(-100%);
}

::selection {
    background: rgba(80, 27, 50, 0.7);
}


.page-footer {
    padding-top: 0 !important;
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    position:fixed;
    bottom:0;
    font: 400 20px Roboto;
}

#interpretation {
    position: absolute;
    height: 38%;
    width: 25%;
    top: 55%;
    margin-left: 7%;
    background-color: rgba(255, 226, 250, 0.75);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    box-shadow: 0 0 20px 4px #846c63;
}

#truth-table {
    position: absolute;
    left: 49%;
    top: 18%;
    background-color: rgba(255, 226, 250, 0.75);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    box-shadow: 0 0 20px 4px #846c63;
    height: 75%;
    width: 50%;
}

.table-header {
    position: relative;
    font: 400 30px Roboto;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: rgba(255, 255, 255, 1);
}

.bordered {
    position: relative;
    top: -7%;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font: 400 24px Roboto;
    width: 100%;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    height: 10%;
    text-align: center;
}

table{
    height: 80%;
    display: -moz-groupbox;
}
#tableSignBody{
    overflow-y: scroll;
    height: 75%;
    width: 100%;
    position: absolute;
}
#truthTableBody {
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    height: 90%;
}

#signValueInput {
    position: relative;
    border: none;
    border-radius: 0;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background: rgba(255, 226, 250, 0.75);
    box-shadow: 0 0 20px 4px #846c63;
    font-size: 20px;
    transition: .3s ease;
}

#info {
    position: relative;
    left: 2%;
    top: -12%;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font: 400 24px Roboto;
}

#equivalence {
    position: absolute;
    left: 120%;
    top: 35%;
    background-color: rgba(255, 226, 250, 0.75);
    box-shadow: 0 0 20px 4px #846c63;
    border-radius: 30px;
}

#equivalence:hover {
    background-color: rgba(255, 226, 250, 0.75);
    color: rgba(80, 27, 50, 0.7);
}

#equivalence:active {
    background-color: rgba(255, 226, 250, 0.75);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.signInput {
    text-align: center;
    color: white;
    font: 13px Roboto;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background: rgba(255, 226, 250, 0.75);
    border-width: 0px;
}
